.footer-lining {
  background-color: var(--my-grey);
  height: 5px;
  margin-top: 30px;
}


footer {
  display: flex;
  width: 100%;
  background-color: var(--my-blue);
  align-items: center;
  justify-content: center;
  height: 100px;
}


.footer-link{
  color: var(--my-grey);
}