:root{
  --my-blue: #1D5D9B;
  --my-grey: #D3D3D3; /*Same as light gray*/
}

*{
  margin: 0;
}


body{
  font-family: 'M PLUS 1', sans-serif;
}


.page-grid{
  display: grid;
  grid-template-columns: 25% 50% 25%;
  justify-content: space-between;
}

/* Reduce the width of the blank side sections when the screen is small */
@media (max-width: 800px){
  .page-grid{
    grid-template-columns: 10% 80% 10%;
  }
}

.title-top-line{
  background-color: var(--my-grey);
  height: 20px;
  width: 34px;
}

