header{
  display: flex;
  background-color: var(--my-blue);
  align-items: center;
  justify-content: left;
  padding-left: 35%;
  height: 125px;
}

.header-lining{
  background-color: lightgray;
  height: 5px;
}


.logo{
  height: 80px;
  border-radius: 50%;
}

.company-name{
  padding-left: 20px;
  font-size: 2.5rem;
  font-weight: bold;
  color: lightgray;
}

