header{
  display: flex;
  width: 100%;
  background-color: var(--my-blue);
  align-items: center;
  justify-content: left;
  padding-left: 30%;
  height: 125px;
}

/* when screen gets blah resize the header height */
@media (max-width: 800px){
  header{
    height: 90px;
  }
}

.header-lining{
  background-color: lightgray;
  height: 5px;
  margin-bottom: 30px;
}


.logo{
  height: 80px;
  border-radius: 50%;
}

.company-name{
  padding-left: 20px;
  font-size: 2.5rem;
  font-weight: bold;
  color: lightgray;
}


